*{
    margin: 0;
    padding: 0;
}

.body{
    display:flex;
  
  
  
}

.pic img{
    height: 1100px;
    width: 500px;
    margin-left: 200px;
    margin-right: 40px;
   
}

.info h1{
   
 
  margin: 50px 40px 40px 10px;
}

.info p{
margin: 0px 300px 20px 10px;
}

.head{
    display: inline-flex;
   
}

.head1{
    margin-right: 50px;
    font-size: 20px;
}

.head1 input{
    height: 38px;
    width: 198px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
}

.head2{
    font-size: 20px;
}

.head2 input{
    height: 38px;
    width: 198px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head1 input:focus{
  border:1px solid rgb(109, 205, 236);
}

.form{
    margin-left: 10px;
}

#email{
    margin-top: 20px;
    height: 38px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 20px;
  
}

#phone{
    margin-top: 25px;
    margin-bottom: 25px;
    height: 38px;
    width: 450px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid black;
}

#bold{
    font-size: 20px;
}

#degree{
    margin-top: 20px;
    width: 450px;
    height: 38px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid black;
}

#radio{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
   
}

#para{
    padding-right: 10px ;
}

#btn{
    height: 36px;
    width: 107px;
    background-color:  #29413b;
    margin-left: 170px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
}

#btn:hover{
    background-color: #1a2b26;
}
